<header id="hero">
<div class="hero-img" style="background-image: url({{site.data.settings.images.hero_image_path}}); background-color: {{site.data.settings.images.hero_background_hex}}">
<!-- Global site tag (gtag.js) - Google Ads: 1031994787 -->


<script async src="https://www.googletagmanager.com/gtag/js?id=AW-1031994787"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-1031994787');
</script>
</header>
